<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Topページ</title>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="../css/style.css" th:href="@{../css/style.css}"
	rel="stylesheet"></link>
</head>
<body>

	<div th:replace="template :: header"></div>

	<span th:if="${social_provider_error}"> 接続に失敗しました。 twitterAPIの Key等が正しいかを確認してください。 </span>

	<form action="/connect/twitter" method="POST">
		<div class="formInfo">
			<p>接続します</p>
		</div>
		<p>
			<button type="submit">Twitterに接続する</button>
		</p>
	</form>

	<p>このアプリケーションは、twitterに接続し、自分のtwitter情報を取得する</p>

	<div th:replace="template :: footer"></div>
</body>
</html>
